@media  (min-width: 768px){
	.menu {
        left: calc(50% - 17.5rem);
        min-width: 35rem;
    }
}

@media  (max-width: 1024px){
	.desktop > .explorer {
        width: 98%;
        left: calc(50dvw - 49%);
    }
}

@media  (max-height: 1080px){
	.menu {
        height: 75dvh;
    }

    .desktop > .explorer {
        height: 75%;
    }
}

@media (min-height: 1081px) and (max-height: 1180px){
	.menu {
        height: 70dvh;
    }

    .desktop > .explorer {
        height: 60%;
    }
}


@media  (min-height: 1181px){
	.menu {
        height: 60dvh;
    }

    .desktop > .explorer {
        height: 65%;
    }
}
