
.t-btn {

    outline-style: none;
    border-style: none;
    background-color: inherit;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
        background-color: rgb(255, 255, 255, .2);
    }
}

.center {

    .t-btn {
        i {
            font-size: x-large;
        }
    
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
    }
}

.right {

    .t-btn {
        i {
            font-size: medium;
        }
    
        padding: 0 0.5rem;
        height: 100%;
    }

}


i.fa.gold{
    color: gold;
}

i.fa.white{
    color: $white;
}

.t-btn.small {
    width: 4rem;
    height: 4rem;
}


.btn-inner {
    display: flex;
    flex-direction: column;
    row-gap: 3px;

    i {
        font-size: 2.2rem;
    }

    .label {
        font-size: small;
        color: rgba(240, 240, 240, 1);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis !important;
    }
}

