
.t-btn {

    outline-style: none;
    border-style: none;
    background-color: inherit;
    border-radius: 4px;
    
    &:hover {
        cursor: pointer;
        background-color: rgb(255, 255, 255, .2);
    }
}

.center {

    .t-btn {
        i {
            font-size: x-large;
        }
    
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
    }
}

.right {

    .t-btn {
        i {
            font-size: medium;
        }
    
        padding: 0 0.5rem;
        height: 100%;
    }

}


.fa.gold{
    color: gold;
}

.fa.white{
    color: $white;
}

.fa.blue {
    color: rgb(18, 18, 255);
}

.fa.black {
    color: rgb(0, 0, 0);
}

.fa.green {
    color: rgb(0, 154, 0);
}

.fa.light-green {
    color: rgb(53, 186, 53);
}

.fa.white {
    color: $white;
}

.fa.orange {
    color: rgb(255, 153, 0);
}

.fa.grey {
    color: rgb(39, 39, 39);
}

.fa.sky-blue {
    color: rgb(43, 234, 255);
}

.fa.red {
    color: rgb(214, 6, 6);
}

.fa.violet {
    color: rgb(47, 10, 255);
}

.fa.pink {
    color: rgb(247, 10, 255);
}

.fa.aubergine {
    color: rgb(80, 28, 81);
}

.t-btn.small {
    width: 4rem;
    height: 4rem;
}


.btn-inner {
    display: flex;
    flex-direction: column;
    row-gap: 3px;

    i {
        font-size: 2.2rem;
    }

    .label {
        font-size: small;
        color: rgba(240, 240, 240, 1);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis !important;
    }
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    background-color: transparent;

    i {
        font-size: 1rem;
        font-weight: 100;
        color: white;
    }

    &:hover {
        cursor: pointer;
        background-color: rgba(240, 240, 240, .2);
    }
}

.btn-label {
    display: flex;
    align-items: center;
    column-gap: 8px;

    padding: 7px;

    font-size: 0.9rem;

    border-radius: 6px;
    border: none;
    color: white;
    background-color: transparent;

    &:hover {
        background-color: rgba(240, 240, 240, .2);
        cursor: pointer;
    }
}

