.main{
	height: 100dvh;
	width: 100%;
	overflow: hidden;
	font-family: $family;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 0;

	h2 {
		color: $fg-bold;
		font-size: 2.5rem;
	}

	div.task-bar{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		bottom: 0;
		left: 0;
		width: calc(100% - 16px);
		height: 3.2rem;
		padding: 0 8px;
		background-color: black;
		z-index: 1;
	}

	.center-task-bar {
		display: flex;
		align-items: center;
		gap: 8px;

		button {

			i {
				font-size: x-large;
				color: white;
			}
	
			width: 2.5rem;
			height: 2.5rem;
			outline-style: none;
			border-style: none;
			background-color: inherit;
			border-radius: 4px;
	
			&:hover {
				cursor: pointer;
				background-color: rgb(255, 255, 255, .2);
			}
		}

		div.input-wrapper {
			position: relative;
			width: 12.5rem;
			height: 1.8rem;
			z-index: 0;

			i {
				position: absolute;
				top: 0.4rem;
				left: 0.8rem;
				z-index: 1;
				color: rgb(240, 240, 240);
			}

			input {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgb(55, 47, 108);
				outline-style: none;
				border-style: none;
				border-radius: 1.8rem;
				padding: 5px 0.7rem 5px 2.3rem;
				color: rgb(240, 240, 240);
			}
		}

	}

	.right-task-bar {
		display: flex;
		align-items: center;
		gap: 6px;

		width: fit-content;
		height: 2.5rem;

		color: rgb(240, 240, 240);

		button {

			i {
				font-size: medium;
				color: white;
			}
			padding: 0 0.5rem;
			height: 100%;
			outline-style: none;
			border-style: none;
			background-color: inherit;
			border-radius: 4px;
	
			&:hover {
				cursor: pointer;
				background-color: rgb(255, 255, 255, .2);
			}
		}

		.clock {
			display: flex;
			flex-direction: column;

			span {
				font-size: 0.9rem;
				text-align: right;
				color: rgba(240, 240, 240, 1);
			}
		}
	}
}