.desktop>.explorer {
    position: absolute;
    right: 10px;
    top: 20px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45px 50px 50px calc(100% - 170px) 25px;
    grid-template-areas:
        "header"
        "address"
        "tool"
        "middle"
        "footer";

    width: 70%;
    height: 80%;
    background-color: white;
    border-radius: 8px;
    z-index: 100;
    overflow: hidden;

    .header {
        display: flex;
        justify-content: space-between;
        padding-left: 5px;

        .win-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 5px;
            align-self: center;

            i {
                color: white;
                font-weight: 100;
            }

            .title {
                color: white;
                font-size: 1rem;
                font-weight: 100;
            }
        }

        .win-btns {
            display: flex;
            flex-direction: row;
            height: 70%;

            button {
                display: flex;
                align-items: center;
                color: white;
                background-color: inherit;
                outline: none;
                border: none;
                margin: 0;
                padding: 0px 12px;

                &:hover {
                    cursor: pointer;
                    background-color: rgba(240, 240, 240, .2);
                }

                &:nth-child(3):hover {
                    background-color: rgb(211, 0, 0);
                }
            }
        }

        background-color: rgb(12, 7, 59);
    }

    .address-bar {
        display: flex;
        align-items: center;
        column-gap: 15px;

        padding: 10px;

        .field-wrapper  {
            position: relative;

            .placeholder {
                display: flex;
                column-gap: 12px;
                padding: 0px 8px;
                position: absolute;
                top: calc(50% - 8px);
                color: white;
            }

            input {
                width: calc(100% - 16px);
                background-color: rgba(240, 240, 240, .2);
                outline: none;
                border: none;
                border-radius: 6px;
                padding: 6px 8px;
                color: white;
            }
        }

        .field-wrapper:nth-child(5) {
            flex-grow: 4;
        }

        background-color: rgb(26, 26, 39);
        border-bottom: 1px solid rgba(240, 240, 240, .2);
    }

    .tool-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 10px;

        .item {
            display: flex;
            column-gap: 15px;
        }

        .files-options {
            display: flex;
            column-gap: 10px;

            padding-left: 10px;
            border-left: 1px solid rgba(240, 240, 240, .2);

            padding-right: 10px;
            border-right: 1px solid rgba(240, 240, 240, .2);

            .nav-btn:first-child {
                transform: rotate(-90deg);
            }
        }

        background-color: rgb(26, 26, 39);
        border-bottom: 2px solid rgba(240, 240, 240, .6);
    }

    .middle {
        display: grid;
        grid-template-columns: 14rem auto;
        grid-template-rows: 1fr;

        .side-bar {
            overflow-y: scroll;
            

            .inner-side {
                display: flex;
                flex-direction: column;
                
    
                row-gap: 15px;
                padding: 15px 3px;
    
    
                border-right: 1px solid rgba(240, 240, 240, .2);
    
                hr {
                    width: 80%;
                    border-top: 1 solid rgba(240, 240, 240, .2);
                    border-radius: 1px;
                }
    
                .folders {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
    
                    padding: 0;
                    margin: 0;
    
                    // border-bottom: 1px solid rgba(240, 240, 240, .2);
    
    
                    color: rgba(240, 240, 240, 1);
    
                    li {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
    
                        padding: 0px 5px 0px 0px;
                        border-radius: 4px;
    
                        &:hover {
                            cursor: pointer;
                            background-color: rgba(240, 240, 240, .3);
                        }
    
                        i.fa-thumb-tack {
                            font-size: small;
                            color: rgba(240, 240, 240, .5);
                        }
    
                        .rotater {
                            transform: rotate(45deg);
                        }
                    }
    
                    .start {
                        display: flex;
                        column-gap: 10px;
                        padding: 5px 5px 5px 2rem;
    
                        span {
                            font-size: 0.95rem;
                        }
                    }
    
                    .collapsable {
                        justify-content: start;
                        padding-left: calc(1.5rem - 15px);
                        .start {
                            padding-left: 1rem;
                        }
                    }
                }
            }
        }

        // .content {}

        background-color: rgb(26, 26, 39);
    }

    .footer {
        background-color: rgba(26, 26, 39, .9);
    }
}