.presentation{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: 
        linear-gradient(90deg, #7E898F 0%, #636C75 100%), 
        radial-gradient(at top, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.55) 100%), 
        radial-gradient(at top, rgba(255, 255, 255, 0.90) 0%, rgba(0, 0, 0, 0.08) 63%),
		url(images/overlay1.png);
    background-blend-mode: multiply, screen;

	article::-webkit-scrollbar {
		display: none;
	}

	article{
		max-width: 800px;
		width: 90%;
		@include border-radius(6px);
		color: $white;
		overflow-y: scroll;

		-ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

		h1{
			font-weight: 300;
			font-size: 1.8em;
			text-align: right;
		}

		p{
			
			font-weight: 100;
			font-size: 1.3em;
			text-align: justify;
			a.github-link {
				color: $white;
				font-weight: bold;
				text-decoration: none;
				i {
					font-size: 1.3em;
				}
			}
		}
	}	
}

#contact{
	background-color: $accent1-alt;
}

.levels .down{
	text-align: center;
	cursor: pointer;
	a{
		color: white;
		font-size: 30px;
		text-decoration: none;
	}
}


