
.show{
	background-image: url(images/overlay2.png), url(images/overlay3.svg);
	@include background-gradient(225deg, $accent1-alt, 5%, $accent3-alt, 30%, $accent6-alt, 70%);
	background-repeat: repeat, no-repeat, no-repeat;
	background-size: auto, cover, cover;
	background-attachment:	none, fixed, fixed;
	background-position:	top left, center center, center center;
	margin: 0;
	padding: 0;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;

	p {
		margin: 30px auto;
		padding: 0;
		font-size: 1.6em;
		font-weight: $weight;
		min-width: 300px;
		max-width: 300px;
		span{
			font-weight: $weight-bold;
			font-size: 1.2em;
		}

		a{
			text-decoration: none;
			color: inherit;
		}
	}


	.anim-wrapper{
		position: relative;
		width: 202px;

		i{
			position: absolute;
			font-size: 2em;
			background-color: #fff;
			width: 32px;
			height: 32px;
			@include border-radius(32px);
			padding: 10px 10px;
		}

		#mobile{
			top: -60px;
			left: 80px;
			animation: orbit-mobile 4s linear 2s infinite;
		}

		#laptop{
			top: -20px;
			left: -25px;
			animation: orbit-laptop 4s linear 3s infinite;
		}

		#desktop{
			top: -5px;
			right: -15px;
			font-size: 1.8em;
			line-height: 38px;
			animation: orbit-desktop 4s linear infinite;
		}

		#database{
			top: 80px;
			right: -60px;
			font-size: 1.7em;
			animation: database-levitation 4s ease-in-out infinite alternate;
		}
	}

	.pic-wrapper{
		width: 200px;
		margin: 5px auto;
		padding: 0;
		overflow: hidden;
		@include border-radius(100px);
		position: relative;
		z-index: 2;
		img{
			width: 100%;
		}
	}
}