html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-family: $font-main;
  color: $color-main;
  background-color: $color-backgrounds;

  div#page{
    width: 95%;
    margin: 2% auto;
    padding: 0;
    nav{
      width: 100%;
      height: 20px;
      border-bottom: 4px groove $color-bg-containers;
    }
    .cards-contain{
      width: 34.5%;

    }
    .forms-contain{
      width: 25%;
      #field-contain{
      }
    }
    .tables-contain{
      width: 39.5%;
      #frequence-contain{
      }
    }
  }
}

.container {
  background-color: $color-bg-containers;
  display: inline-block;
  margin: 1% 0;
}

form{
  width: 100%;
  #currency-contain{
    margin: 2% 0 3% 0;
    text-align: center;
    //background-color: coral;
    input[type='button']{
      background-color: $color-backgrounds;
      border-style: none;
      outline: none;
      margin-left: 5px;
      &:hover{
        background-color: $color-bg-containers;
        color: $color-headlines;
      }
    }
  }

  #field-contain{
    margin: 2% 0 3% 0;
    div.simul{
      position: relative;
      margin: 25px 0 0 0;
      label{
        display: block;
        margin-left: 5px;
        color: $color-input-borders;
        position: absolute;

      }
      input[type='text']{
        width: 70%;
        background-color: $color-backgrounds;
        border-style: none;
        border-bottom: 2px solid $color-input-borders;
        outline: none;
        margin-left: 5px;
        margin-bottom: 5px;
        padding: 1%;
        &:focus div#field-contain div.simul label{
          top: 10px;
          color: blue;
        }
      }
    }
  }

  #frequence-contain{
    margin: 2% 0 3% 0;
    label{
      display: block;
      margin-left: 5px;
      color: $color-input-borders;
    }
    input[type='radio']{
      
    }
  }
}

//$color-headlines: $blue, $purple, $green,
//  $red, $orange, $yellow;

@for $item from 1 through length($color-headlines) {
  h#{$item} {
    color: nth($color-headlines, $item);
  }
}
