// Load Fonts

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif);

$dkgray:    	#2f2f2f;
$lightdkgray:	#022933;
$white: 		#fff;
$darkergray:	#212121;
$lightgray: 	#797979;


$color-main: $white;
$color-backgrounds: $dkgray;
$color-bg-containers: $darkergray;
$color-input-borders: $lightgray;
$color-headlines: $white;


$font-main: 'Open Sans', Helvetica, sans-serif;
$font-highlight: 'Bree Serif', Helvetica, sans-serif;

//breakpoints

$small:		450px;
$medium:	760px;
$large:		1200px;
